@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This web app is deployed by the Visual Studio and Github.</p>
    <p>Welcome to the Class f AZ-204. GTech Learn</p>
</div>
